server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/searchengine
    username: shadownight
    password:
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

liquibase:
  enabled: true
  change-log: classpath:db/changelog/db.changelog-master.yaml

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

indexing-settings:
  sites:
    - url: https://www.lenta.ru
      name: Lenta.ru
    - url: https://www.skillbox.ru
      name: Skillbox
    - url: https://www.playback.ru
      name: Playback
